 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand" href="/">News Portal</a>
        <!-- <div class="collapse navbar-collapse" id="navbarNav">
            <form class="d-flex ms-auto" id="searchForm">
                <input class="form-control me-2" type="search" placeholder="Search News" aria-label="Search" id="searchInput">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div> -->
        <a href="/login"><button class="btn btn-outline-primary" type="login-signup">JOIN US</button></a>
    </div>
</nav>